/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.
Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main{
  margin-bottom: 100px;
}

caption{
  margin:5px 0px;
}

/* If you decide to uncomment this code, comment it back for the Autograder. */
/* tr{
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
} */

/*END STARTER CODE*/

body {
    font-family: Andika, sans-serif;
    color: #000000;
    font-size: 16px;
    margin: 1.2em;
    background-size: cover;
    background-position: center;
    background: url('../images/pigeon-background.JPEG')no-repeat center;
    background-size: cover;
    background-color: #DDDDDD;
    /*Req 1*/
}

h1{
  color: #c12258;
  font-size: 2em;
  font-size: 32px;
  text-align: center;
  line-height: 2;

  /*Req 2*/
}

p{
  padding: 15px 0 0 0;
}



a {
    font-size: 15px;
    color: #B21F50;
    text-decoration: underline wavy;
}

/*Req 5*/
/*Add selector and rule here*/

*:focus {
    border: 3px dashed #417243;
}

td{
   text-align: center;
   border-width: 2px 0 0 0;
   border-style: solid;
   border-color: #000000;
   padding: 10px;
   vertical-align: middle;
}


.colhead {
    color: #FFFFFF;
    background-color: #7e0825;
    min-width: 125px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}
.colhead:first-child{
    border-top-left-radius: 50px;
}

.colhead:last-child{
    border-top-right-radius: 50px;
}

tr:last-child td:last-child{
    border-bottom-right-radius: 50px;
}
tr:last-child th.rowhead{
    border-bottom-left-radius: 50px;
}

.rowhead {
    color: #000000;
    text-align: center;
    vertical-align: middle;
    border-width: 2px 2px 0px 0;
    border-style: solid;
    border-color: #000000;
}


table{
    border: 5px solid #000000;
    border-radius: 50px;
    margin: auto; 
   
}

/* I gave you the selector, but not the property-value pair. 
You can use Inspect Element or your editor to find selectors. */
thead tr:first-child th:first-child{}

/*Add selectors and rules here*/
tr:hover {
    background-color: rgba(126, 8, 37,.25);
}

tr:nth-child(2n){
   background-color: #D1D1D1;
}


footer{
  position:fixed;
  width:100%;
  background:#000000;
  text-align:center;
  color: #ffffff;
  display: block;
  min-height: 75px;
  bottom: 0;
  left: 0;
  right: 0;
}
